<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Delights</title>

    <!-- Imported Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
</head>
<body class="teal lighten-4">
    <header>
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="#" class="brand-logo teal darken-1 food-link"> <i class="material-icons left">restaurant</i>Tasty Delights</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down teal darken-1">
                    <li><a href="Lab1-pg1.html">Home</a></li>
                    <li><a href="Lab1-pg4.html">Recipes</a></li>
                    <li><a href="Lab1-pg2.html">Saved Recipes</a></li>
                </ul>
            </div>
        </nav>
    </header>

</body>
</html>