<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Delights</title>

    <!-- Imported Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
</head>
<body class="teal lighten-4">
    <header>
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="#" class="brand-logo teal darken-1 food-link"> <i class="material-icons left">restaurant</i>Tasty Delights</a>

                <ul id="nav-mobile" class="right hide-on-med-and-down teal darken-1">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipe">Recipes</a></li>
                    <li><a href="/savedrecipe">Saved Recipes</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="center-align">
        <img class="image-link " width=500px src="images/tastydelightlogo.png">
    </div>

    <nav class ="container">
        <div class="nav-wrapper teal lighten-5">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
    </nav>

    <h6 class = "center-align">
        Welcome to Tasty Delights! Feel free to look around, and scroll through the numerous options for recipes under the recipe tab. 
        You can then go to the saved recipe tab and add recipes you like to your personal cookbook.
    </h6>

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
                