<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasty Delights</title>

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body class="teal lighten-4">

    <!-- Nav bar -->
        <header>
            <nav>
                <div class="nav-wrapper teal darken-1">
                    <a href="#" class="brand-logo teal darken-1 food-link"> <i class="material-icons left">restaurant</i>Tasty Delights</a>
                  
    
                    <ul id="nav-mobile" class="right hide-on-med-and-down teal darken-1">
                        <li><a href="/">Home</a></li>
                        <li><a href="/recipe">Recipes</a></li>
                        <li><a href="/savedrecipe">Saved Recipes</a></li>
                    </ul>
                </div>
            </nav>
        </header>


    <!-- Page contents -->
    <div class="container">
        <div class="section" id="list">
            <h1>Favorite Recipes:</h1>
            <table>
                <thead>

                    <tr>
                        <th>Recipe</th>
                        <th>Type of Cusine</th>
                        <th>Type of Meal</th>
                        <th>Rating</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <td>Chicken Penne Pasta</td>
                        <td>Italian</td>
                        <td>Dinner</td>
                        <td>3/5</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="/savedrecipe/details">
                                <i class="material-icons right">edit</i>
                                Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>Fudgy Brownies</td>
                        <td>American</td>
                        <td>Dessert</td>
                        <td>5/5</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="/savedrecipe/details">
                                <i class="material-icons right">edit</i>
                                Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>Aloo Paratha</td>
                        <td>Indian</td>
                        <td>Breakfast</td>
                        <td>4/5</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="/savedrecipe/details">
                                <i class="material-icons right">edit</i>
                                Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>Korean fried chicken</td>
                        <td>Korean</td>
                        <td>Lunch</td>
                        <td>5/5</td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href="/savedrecipe/details">
                                <i class="material-icons right">edit</i>
                                Edit
                            </a>
                            <a class="btn-small waves-effect waves-light red">
                                <i class="material-icons right">delete</i>
                                Delete
                            </a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div class="section" id="add">
            <h2>Add Recipe:</h2>
            <form id="addForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" id="titleInput" name="title" data-length="45" required>
                        <label for="titleInput">Recipe Name:</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" id="titleInput" name="title" data-length="45" required>
                            <label for="titleInput">Cusine Type:</label>
                    </div>
                    <div class="input-field col s6">
                        <select name = "chooser">
                          <option value="" disabled selected>Choose your type of meal</option>
                          <option value="1">Breakfast</option>
                          <option value="2">Lunch</option>
                          <option value="3">Dinner</option>
                          <option value="4">Snack</option>
                        </select>
                        <label for = "chooser">Type of Meal</label>
                    </div>
                    <div class="input-field col s6">
                        <select name = "chooser">
                          <option value="" disabled selected>Choose your rating</option>
                          <option value="1">0</option>
                          <option value="2">1</option>
                          <option value="3">2</option>
                          <option value="4">3</option>
                          <option value="5">4</option>
                          <option value="6">5</option>
                        </select>
                        <label for = "chooser">Rating</label>
                    </div> 

                    

                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">send</i>
                    Submit
                </button>
            </form>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="script.js"></script>

</body>

</html>