.recipes {
    height: 90vh;
    padding: 5%;
}

.recipe {
    display: inline-block;
    width: 40%;
    padding: 5%;
    margin: 4%;
    border: 2px solid black;
    background-color: white;
    box-sizing: border-box;
}